section.contaner {
	grid-template-columns: auto;
}
.banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
h1 {
	width: inherit;
	margin: 0;
	padding: 20px 10px;
	background-color: #39C2D7;
	margin: 10px;
}
header div.banner .contaner {
	width: inherit;
	height: auto;
	position: relative;
}
.navigation {
	margin-bottom: 0;
}
.navigation nav {
	padding-top: 0;
}
.navigation nav a{
	display: block;
	padding: 10px 0 10px 10px;
	background-color: #eee;
	margin-right: 0!important;
	text-align: left;
	border-top: 1px solid #ccc;
}
.footer-nav a{
	display: block;
	text-align: center;
	margin: 0 0 5px;
}