<ng-container *ngIf='!edit; else elseBlock'>  
  <td>{{ subject.index + 1 }}</td>
  <td>{{ subject.subjectInfo.topic }}</td>
  <td>{{ subject.subjectInfo.date }}</td>
  <td>{{ subject.subjectInfo.lecturer }}</td>
  <td>   
    <button (click)='onMakeChange()'>Edit</button>
    <button (click)='onDelete($event)'>Delete</button> 
  </td>
</ng-container>
<ng-template #elseBlock>
  <td>{{ subject.index + 1 }}</td>
  <td><input [(ngModel)]="subject.topic" placeholder="name"></td>
  <td><input [(ngModel)]="subject.date" placeholder="date"></td>
  <td><input [(ngModel)]="subject.lecturer" placeholder="lecturer"></td>
  <td>   
    <button (click)='onSave()'>Save</button>
    <button (click)='onCancel()'>Cancel</button>
  </td>
</ng-template>

