html {
  background-color: #DCBB9A; }

#content {
  background-color: #fff; }

h1,
h2 {
  color: #893c00; }

img {
  outline: 2px solid #893c00;
  outline-offset: 2px; }

.img-left {
  float: left;
  margin: 0 20px 20px 0; }

.img-right {
  float: right;
  margin: 0 0 20px 20px; }

.brief {
  background-color: #fadcba;
  width: 380px;
  padding: 15px;
  float: left;
  margin: 0 20px 20px 0; }

table {
  border-collapse: collapse;
  margin-bottom: 40px; }

th {
  background-color: #E0E0E0;
  text-transform: uppercase;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  font-weight: normal; }

th:not(:last-child) {
  border-right: 1px solid #fff; }

td {
  border-bottom: 1px solid #EDEDED;
  padding: 10px 0 10px 15px; }

label {
  display: block; }

.firstName {
  width: 49%;
  border: 1px solid #eee;
  margin-right: 5px; }
  .firstName input {
    width: 100%; }

.lastName {
  width: 50%;
  border: 1px solid #eee; }
  .lastName input {
    width: 100%; }

input {
  width: 100%;
  border: 1px solid #eee;
  padding: 5px 0 5px; }

.fio {
  display: flex;
  flex-wrap: wrap; }

textarea {
  width: 100%;
  border: 1px solid #eee; }

#content {
  max-width: 940px;
  margin: 0 auto;
  padding: 15px; }

h1 {
  text-align: center; }

caption {
  text-align: right; }
